In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv(r'D:\Ola_Data_Analysis_Project\OLA_Booking_Data\booking_data.csv')

In [10]:
df = data.copy()

In [11]:
print(df.head(10))
print('-' * 100)
print(df.tail(10))
print('-' * 100)
print(df.info())

       Date     Time  Booking ID       Booking Status Customer ID  \
0  6/1/2025  0:00:00  CNR7019659              Success    CID56465
1  6/1/2025  0:00:00  CNR7784516              Success    CID41109
2  6/1/2025  0:00:00  CNR1133821              Success    CID72820
3  6/1/2025  0:00:00  CNR8269117              Success    CID17191
4  6/1/2025  0:00:00  CNR6856424              Success    CID33669
5  6/1/2025  0:01:00  CNR6311388              Success    CID34966
6  6/1/2025  0:01:00  CNR5074489  Cancelled by Driver    CID88873
7  6/1/2025  0:01:00  CNR6066625  Cancelled by Driver    CID98098
8  6/1/2025  0:01:00  CNR5102876              Success    CID52872
9  6/1/2025  0:01:00  CNR1162009              Success    CID49651

  Vehicle Type Pickup Location Drop Location  Avg VTAT  Avg CTAT  \
0         Mini        Madhapur   Musheerabad      10.0      16.0
1         Auto      Kukatpally      Saidabad      12.0      18.0
2    Prime SUV   Santosh Nagar     Kachiguda      13.0       8.0
3    Prime SUV    Sanath Nagar       Miyapur       6.0      20.0
4         Auto    Narayanaguda      Nampally       8.0      20.0
5  Prime Sedan       Kachiguda    Malkajgiri       7.0       5.0
6         Mini       Charminar    LB Stadium       NaN       NaN
7        eBike      Kukatpally    Yousufguda       NaN       NaN
8  Prime Sedan          Nagole    LB Stadium       3.0       9.0
9         Bike        Nampally       Tarnaka      11.0       7.0

   Cancelled Rides by Customer Reason for cancelling by Customer  \
0                          NaN                               NaN
1                          NaN                               NaN
2                          NaN                               NaN
3                          NaN                               NaN
4                          NaN                               NaN
5                          NaN                               NaN
6                          NaN                               NaN
7                          NaN                               NaN
8                          NaN                               NaN
9                          NaN                               NaN

   Cancelled Rides by Driver Reason for cancelling by Driver  \
0                        NaN                             NaN
1                        NaN                             NaN
2                        NaN                             NaN
3                        NaN                             NaN
4                        NaN                             NaN
5                        NaN                             NaN
6                        1.0   Personal & Car related issues
7                        1.0   Personal & Car related issues
8                        NaN                             NaN
9                        NaN                             NaN

   Incomplete Rides Incomplete Rides Reason  Booking Value  Ride Distance  \
0               NaN                     NaN         347.27           8.01
1               NaN                     NaN         188.75          10.06
2               NaN                     NaN         538.13          19.33
3               NaN                     NaN         992.95           9.57
4               NaN                     NaN         433.04           6.98
5               NaN                     NaN         290.86          20.02
6               NaN                     NaN            NaN            NaN
7               NaN                     NaN            NaN            NaN
8               NaN                     NaN         219.79          10.25
9               NaN                     NaN         303.27          24.10

   Driver Ratings  Customer Rating
0             4.0              4.6
1             4.9              3.7
2             4.4              4.4
3             4.7              3.0
4             4.9              4.1
5             4.5              3.1
6             NaN              NaN
7             NaN              NaN
8             3.9              3.6
9             3.5              4.0
----------------------------------------------------------------------------------------------------
            Date      Time  Booking ID         Booking Status Customer ID  \
99990  6/30/2025  23:51:00  CNR5748780    Cancelled by Driver    CID15472
99991  6/30/2025  23:51:00  CNR5943475                Success    CID15550
99992  6/30/2025  23:52:00  CNR4874186  Cancelled by Customer    CID31447
99993  6/30/2025  23:52:00  CNR9600279             Incomplete    CID81996
99994  6/30/2025  23:52:00  CNR7201581                Success    CID26721
99995  6/30/2025  23:53:00  CNR3997712                Success    CID98515
99996  6/30/2025  23:53:00  CNR4705219                Success    CID64682
99997  6/30/2025  23:53:00  CNR5251266                Success    CID38687
99998  6/30/2025  23:54:00  CNR8504131                Success    CID13067
99999  6/30/2025  23:58:00  CNR5448150                Success    CID51205

      Vehicle Type Pickup Location  Drop Location  Avg VTAT  Avg CTAT  \
99990  Prime Sedan           Abids  Jubilee Hills       NaN       NaN
99991         Auto      Gachibowli          Uppal      13.0      18.0
99992         Auto          Nagole      Kachiguda       NaN       NaN
99993    Prime SUV     Mehdipatnam       Ameerpet       NaN       NaN
99994         Mini      Beeramguda          Alwal      15.0       8.0
99995         Auto        Ameerpet  Jubilee Hills      13.0      19.0
99996         Bike            ECIL       Kompally       5.0       7.0
99997   Prime Plus     Musheerabad      Charminar      10.0      19.0
99998    Prime SUV   Jubilee Hills    Khairatabad      12.0       7.0
99999        eBike     Khairatabad       Kompally      11.0       2.0

       Cancelled Rides by Customer Reason for cancelling by Customer  \
99990                          NaN                               NaN
99991                          NaN                               NaN
99992                          1.0            Driver asked to cancel
99993                          NaN                               NaN
99994                          NaN                               NaN
99995                          NaN                               NaN
99996                          NaN                               NaN
99997                          NaN                               NaN
99998                          NaN                               NaN
99999                          NaN                               NaN

       Cancelled Rides by Driver Reason for cancelling by Driver  \
99990                        1.0  The customer was coughing/sick
99991                        NaN                             NaN
99992                        NaN                             NaN
99993                        NaN                             NaN
99994                        NaN                             NaN
99995                        NaN                             NaN
99996                        NaN                             NaN
99997                        NaN                             NaN
99998                        NaN                             NaN
99999                        NaN                             NaN

       Incomplete Rides Incomplete Rides Reason  Booking Value  Ride Distance  \
99990               NaN                     NaN            NaN            NaN
99991               NaN                     NaN         157.31          13.83
99992               NaN                     NaN            NaN            NaN
99993               1.0       Vehicle Breakdown            NaN            NaN
99994               NaN                     NaN         279.63          14.53
99995               NaN                     NaN         278.71          20.89
99996               NaN                     NaN         751.67           4.08
99997               NaN                     NaN         308.45          16.56
99998               NaN                     NaN         226.30          15.08
99999               NaN                     NaN         553.72           5.31

       Driver Ratings  Customer Rating
99990             NaN              NaN
99991             3.1              4.3
99992             NaN              NaN
99993             NaN              NaN
99994             4.0              3.2
99995             4.6              4.5
99996             3.2              4.0
99997             4.0              4.7
99998             4.8              4.5
99999             3.0              4.1
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               100000 non-null  object
 1   Time                               100000 non-null  object
 2   Booking ID                         100000 non-null  object
 3   Booking Status                     100000 non-null  object
 4   Customer ID                        100000 non-null  object
 5   Vehicle Type                       100000 non-null  object
 6   Pickup Location                    100000 non-null  object
 7   Drop Location                      100000 non-null  object
 8   Avg VTAT                           67561 non-null   float64
 9   Avg CTAT                           67561 non-null   float64
 10  Cancelled Rides by Customer        7498 non-null    float64
 11  Reason for cancelling by Customer  7498 non-null    object
 12  Cancelled Rides by Driver          19442 non-null   float64
 13  Reason for cancelling by Driver    19442 non-null   object
 14  Incomplete Rides                   5499 non-null    float64
 15  Incomplete Rides Reason            5499 non-null    object
 16  Booking Value                      67561 non-null   float64
 17  Ride Distance                      67561 non-null   float64
 18  Driver Ratings                     67561 non-null   float64
 19  Customer Rating                    67561 non-null   float64
dtypes: float64(9), object(11)
memory usage: 15.3+ MB
None

In [12]:
# Fill nulls using mean (floored) for columns with symmetric distribution
for col in ['Avg VTAT', 'Avg CTAT', 'Ride Distance', 'Driver Ratings', 'Customer Rating']:
    if df[col].isnull().any():
        # Calculate mean, then apply floor to round down to the nearest integer
        floored_mean = np.floor(df[col].mean())
        df[col].fillna(floored_mean, inplace=True)

# Fill nulls using median (floored) for 'Booking Value' due to its skewed distribution
if df['Booking Value'].isnull().any():
    # Calculate median, then apply floor to round down to the nearest integer
    floored_median = np.floor(df['Booking Value'].median())
    df['Booking Value'].fillna(floored_median, inplace=True)

# Verify that null values have been filled for these columns
print("Null counts after imputation:")
print(df[['Avg VTAT', 'Avg CTAT', 'Booking Value', 'Ride Distance', 'Driver Ratings', 'Customer Rating']].isnull().sum())

Null counts after imputation:
Avg VTAT           0
Avg CTAT           0
Booking Value      0
Ride Distance      0
Driver Ratings     0
Customer Rating    0
dtype: int64

C:\Users\Mohan Abhijeeth\AppData\Local\Temp\ipykernel_18232\2521510401.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(floored_mean, inplace=True)
C:\Users\Mohan Abhijeeth\AppData\Local\Temp\ipykernel_18232\2521510401.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Booking Value'].fillna(floored_median, inplace=True)

In [13]:
# --- Imputation for 'Cancelled Rides' and 'Incomplete Rides' related columns ---

# Fill nulls in numerical 'count' columns with 0
# A null in these often means the event did not occur.
for col in ['Cancelled Rides by Customer', 'Cancelled Rides by Driver', 'Incomplete Rides']:
    if df[col].isnull().any():
        df[col].fillna(0, inplace=True)

# Fill nulls in categorical 'reason' columns with 'Not Applicable'
# This marks instances where no reason was recorded because the event didn't happen.
for col in ['Reason for cancelling by Customer', 'Reason for cancelling by Driver', 'Incomplete Rides Reason']:
    if df[col].isnull().any():
        df[col].fillna('Not Applicable', inplace=True)

# Verify that null values have been filled for all targeted columns
print("Null counts after all imputations:")
print(df.isnull().sum())

Null counts after all imputations:
Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Avg VTAT                             0
Avg CTAT                             0
Cancelled Rides by Customer          0
Reason for cancelling by Customer    0
Cancelled Rides by Driver            0
Reason for cancelling by Driver      0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
dtype: int64

C:\Users\Mohan Abhijeeth\AppData\Local\Temp\ipykernel_18232\4088231308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)
C:\Users\Mohan Abhijeeth\AppData\Local\Temp\ipykernel_18232\4088231308.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Not Applicable', inplace=True)

In [14]:
#df.to_csv(r'OLA_Booking_Data\booking_data_cleaned.csv', index=False)

#print("Changes saved to 'booking_data_cleaned.csv' successfully.")

In [15]:
# THIS BIT OF CODE IS ESSENTIAL TO KNOW THE SHAPE OF OUR DATAFRAME(ACTUAL DATASET BEFORE CONVERSION)
print("No of Rows in this dataset - ", len(df))
print("-" * 50)
print("No of Columns in this dataset - ", df.shape[1])
print("-" * 50)
print("Size of this dataset - ", df.shape)

No of Rows in this dataset -  100000
--------------------------------------------------
No of Columns in this dataset -  20
--------------------------------------------------
Size of this dataset -  (100000, 20)

In [16]:
# THIS BIT OF CODE IS ESSENTIAL TO KNOW THE COUNT OF UNIQUE VALUES FROM EVERY ATTRIBUTE
print(df.nunique())

Date                                    30
Time                                  1440
Booking ID                           99483
Booking Status                           4
Customer ID                          60488
Vehicle Type                             7
Pickup Location                         50
Drop Location                           50
Avg VTAT                                14
Avg CTAT                                19
Cancelled Rides by Customer              2
Reason for cancelling by Customer        6
Cancelled Rides by Driver                2
Reason for cancelling by Driver          5
Incomplete Rides                         2
Incomplete Rides Reason                  4
Booking Value                        46258
Ride Distance                         2401
Driver Ratings                          21
Customer Rating                         21
dtype: int64